{% extends "base/intern-public-switch.twig" %}

{% block title %}Ausbildungsgruppen{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Ausbildungsgruppen</h1>

    <strong>Stand: {{ date }}</strong><br/>

    <div class="row">
        {% for column in columns %}
            <div class="col-md-6">
                <h2>{{ column.title }}</h2>

                {% for type in column.types %}
                    {% if type.name %}
                        <h3>{{ type.name }}</h3>
                    {% endif %}

                    <dl class="dl-horizontal">
                        {% for group in type.groups %}
                            <dt>{{ group.trainer }}</dt>
                            <dd>
                                {% for student in group.students %}
                                    <div>{{ student }}</div>
                                {% endfor %}
                            </dd>
                        {% endfor %}
                    </dl>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}