{% extends "account/settings/page.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/edit-profilepicture.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/edit-profilepicture.js"></script>
{% endblock %}

{% block settingsHeader %}
    {% if update.profile is constant ("UPDATE_PROFILE_OK", this) %}
        <div class="alert alert-success"><i class="fa fa-check"></i> Dein Benutzerprofil wurde erfolgreich aktualisiert.</div>
    {% endif %}
{% endblock %}

{% block settingsContent %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dein Profil</h3>
        </div>

        <div class="panel-body edit-profilepicture-dropzone">
            <div class="form-group">
                <label for="settings-profile-profilepicture">Profilbild</label>

                <div class="clearfix">
                    <div class="edit-profilepicture-box-left">
                        <img src="users/{{ user.id }}/profile-picture.jpg?hash={{ user.profilePictureHash }}" class="edit-profilepicture-img"/>
                    </div>

                    <div class="edit-profilepicture-box-right">
                        <div class="btn btn-success fileinput-button">
                            <i class="fa fa-upload"></i> Neues Profilbild hochladen
                            <input id="settings-profile-profilepicture" class="edit-profilepicture" type="file" name="file" data-url="users/{{ user.id }}/profile-picture.jpg" accept="image/bmp,image/gif,image/jpeg,image/png"/>
                        </div>

                        <small class="help-block">Unterst&uuml;tzte Dateiformate: BMP, GIF, JPEG und PNG</small>

                        <span class="help-block">Du kannst auch ein Bild von deinem Computer hier hin ziehen.</span>
                    </div>
                </div>
            </div>

            <form method="post" id="settings-profile-form" enctype="multipart/form-data">
                <input type="hidden" name="form" value="profile"/>

                <div class="form-group">
                    <label for="settings-profile-firstname">Vorname</label>
                    <input type="text" class="form-control" id="settings-profile-firstname" name="firstName" value="{{ user.firstName }}">
                </div>

                <div class="form-group">
                    <label for="settings-profile-lastname">Nachname</label>
                    <input type="text" class="form-control" id="settings-profile-lastname" name="lastName" value="{{ user.lastName }}">
                </div>

                <button type="submit" class="btn btn-success">Speichern</button>
            </form>
        </div>
    </div>

    {{ include("edit-profilepicture-modal.twig") }}
{% endblock %}