{% extends "base/internal-public-switch.twig" %}

{% block title %}Passwort zur&uuml;cksetzen{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/account.css") }}"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset("node_modules/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js") }}"></script>
    <script src="{{ asset("node_modules/zxcvbn/dist/zxcvbn.js") }}"></script>

    <script src="{{ asset("js/reset-password.js") }}"></script>
    <script src="{{ asset("js/password-validation.js") }}"></script>
{% endblock %}

{% block content %}
    <form class="login-form" id="reset-password-confirm-form" method="post">
        <h2>Passwort zur&uuml;cksetzen</h2>

        {% if passwordPolicyError %}
            <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Das Passwort muss aus mindestens 6 Zeichen und sowohl aus Buchstaben als auch aus Zahlen bestehen!</div>
        {% endif %}

        <p class="form-text">Lege ein neues Passwort fest.</p>

        <div id="reset-password-confirm-box">
            <div class="form-group">
                <label for="reset-password-confirm-password1">Passwort</label>
                <input type="password" id="reset-password-confirm-password1" class="form-control password-meter" name="password" required autofocus/>
            </div>
            <div class="form-group">
                <label for="reset-password-confirm-password2">Passwort (wiederholen)</label>
                <input type="password" id="reset-password-confirm-password2" class="form-control password-meter" required/>
            </div>

            <span class="form-text"></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block">Passwort &auml;ndern</button>
    </form>
{% endblock %}