{% extends "base/internal-public-switch.twig" %}

{% block title %}{{ title }}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/members.css") }}"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset("js/members.js") }}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">{{ title }}</h1>

    <div class="btn-group mb-3 d-print-none">
        <form class="form-inline" id="members-groups-form">
            <input type="hidden" name="groups" id="members-groups-field"/>

            <div class="input-group">
                <select id="members-groups-select" class="selectpicker show-tick" data-actions-box="true" multiple>
                    {% for name,group in groups %}
                        <option value="{{ name }}" {% if group.active %}selected{% endif %}>{{ group.title }}</option>
                    {% endfor %}
                </select>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">OK</button>
                </div>
            </div>
        </form>
    </div>

    {% include("members/list/" ~ view ~ ".twig") %}

    <div class="btn-group d-print-none">
        <button type="button" class="btn btn-success" id="members-send-message-button"><i class="fas fa-paper-plane"></i> Nachricht senden <span class="badge badge-dark"></span></button>
    </div>

    <p class="text-muted d-print-none">
        <a href="internal/members/addresslist.vcf"><i class="fas fa-download"></i> Adressenliste als VCard herunterladen</a>
    </p>

    {% include("messages/send-modal.twig") %}
{% endblock %}