{% extends "base/internal-public-switch.twig" %}

{% block title %}{{ title }} - Notenverzeichnis{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/notedirectory.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src="js/notedirectory.js"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header d-print-none">
        Notenverzeichnis<br/>
        <span class="small">{{ title }}</span>
    </h1>

    <h1 class="page-header d-none d-print-block" id="notedirectory-header">
        {{ title }}
        <small class="float-right">Stand: {{ currentFormattedDate }}</small>
    </h1>

    <div class="mb-3 d-print-none" id=" notedirectory-button-toolbar">
        <div class="btn-group mr-3">
            {% if currentUser.hasPermission("notedirectory.edit") %}
                <a href="internal/notedirectory/editor" class="btn btn-secondary d-print-none"><i class="fas fa-edit"></i> Editor</a>
            {% endif %}
        </div>

        <div class="btn-group mr-3">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle {% if active starts with "programs/" %}active{% endif %}" data-toggle="dropdown" data-flip="false">Programme <span class="caret"></span></button>

                <div class="dropdown-menu">
                    {% for year in programs %}
                        {% if not loop.first %}
                            <div class="dropdown-divider"></div>
                        {% endif %}

                        <h6 class="dropdown-header">{{ year.year }}</h6>
                        {% for program in year.programs %}
                            {% set path = "programs/" ~ program.year ~ "/" ~ program.name %}
                            <a class="dropdown-item{% if active == path %} active{% endif %}" href="internal/notedirectory/{{ path }}">{{ program.title }}</a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <a href="internal/notedirectory/titles" class="btn btn-secondary {% if active == "titles" %}active{% endif %}">Alle Titel</a>
        </div>

        <div class="btn-group">
            <select class="show-tick" id="notedirectory-columns" multiple></select>
        </div>
    </div>

    {{ list|raw }}
{% endblock %}