{% extends "base/internal-public-switch.twig" %}

{% block title %}{{ title }} - Notenverzeichnis{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/notedirectory.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src="js/notedirectory.js"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header hidden-print">
        Notenverzeichnis<br/>
        <span class="small">{{ title }}</span>
    </h1>

    <h1 class="page-header visible-print-block" id="notedirectory-header">
        {{ title }}
        <small class="pull-right">Stand: {{ currentFormattedDate }}</small>
    </h1>

    <div class="btn-toolbar hidden-print" id=" notedirectory-button-toolbar">
        <div class="btn-group">
            {% if currentUser.hasPermission("notedirectory.edit") %}
                <a href="internal/notedirectory/editor" class="btn btn-default hidden-print"><i class="fa fa-pencil"></i> Editor</a>
            {% endif %}
        </div>

        <div class="btn-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle {% if active starts with "programs/" %}active{% endif %}" data-toggle="dropdown">
                    Programme <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    {% for year in programs %}
                        <li class="dropdown-header">{{ year.year }}</li>
                        {% for program in year.programs %}
                            {% set path = "programs/#{program.year}/#{program.name}" %}
                            <li class="{% if active == path %}active{% endif %}">
                                <a href="internal/notedirectory/{{ path }}">{{ program.title }}</a>
                            </li>
                        {% endfor %}
                        <li class="divider"></li>
                    {% endfor %}
                </ul>
            </div>

            <a href="internal/notedirectory/titles" class="btn btn-default {% if active == "titles" %}active{% endif %}">Alle Titel</a>
        </div>

        <div class="btn-group">
            <select class="show-tick" id="notedirectory-columns" multiple></select>
        </div>
    </div>

    {{ list|raw }}
{% endblock %}