<tr>
    {% if title.number %}
        <td data-name="number">{{ title.number }}</td>
    {% endif %}
    <td data-name="title"><a href="internal/notedirectory/titles/{{ title.id }}" class="hidden-print"><i class="fa fa-info-circle"></i></a> {{ title.title }}</td>
    <td data-name="composer">{{ title.composer }}</td>
    <td data-name="arranger">{{ title.arranger }}</td>
    <td data-name="publisher">{{ title.publisher }}</td>
</tr>