{% extends "base/internal-public-switch.twig" %}

{% block title %}Proberaumbelegung{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("node_modules/fullcalendar/dist/fullcalendar.min.css") }}"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset("node_modules/fullcalendar/dist/fullcalendar.min.js") }}"></script>
    <script src="{{ asset("node_modules/fullcalendar/dist/locale/de.js") }}"></script>

    <script src="{{ asset("js/roomoccupancyplan.js") }}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Proberaumbelegung</h1>

    <div id="roomoccupancyplan-calendar"></div>
{% endblock %}