{% extends "base/internal-public-switch.twig" %}

{% block title %}Programm bearbeiten - Notenverzeichniseditor{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/notedirectoryeditor.css"/>
{% endblock %}

{% block content %}
    <h1 class="page-header">Notenverzeichniseditor - Programm bearbeiten</h1>

    <form action="{{ path }}" method="post">
        <fieldset>
            <legend>Details</legend>

            <div class="form-group">
                <label for="program-editor-year">Jahr</label>
                <input type="text" class="form-control" id="program-editor-year" name="year" value="{{ data.year }}"/>
            </div>

            <div class="form-group">
                <label for="program-editor-title">Programm</label>
                <input type="text" class="form-control" id="program-editor-title" name="title" value="{{ data.title }}"/>
            </div>
        </fieldset>

        <fieldset>
            <legend>Titel</legend>

            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Titel hinzuf&uuml;gen</button>

            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Titel</th>
                        <th>Komponist</th>
                        <th>Bearbeiter</th>
                        <th>Verleger</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for title in data.titles %}
                        <tr>
                            <td>{{ title.number }}</td>
                            <td>{{ title.title }}</td>
                            <td>{{ title.composer }}</td>
                            <td>{{ title.arranger }}</td>
                            <td>{{ title.publisher }}</td>
                            <td>
                                <button type="button" class="btn btn-xs btn-danger remove" data-toggle="tooltip" title="L&ouml;schen"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Speichern</button>
            <a href="internal/notedirectory/editor/programs" class="btn btn-default"><i class="fa fa-remove"></i> Abbrechen</a>
        </div>
    </form>
{% endblock %}