{% extends "base/internal-public-switch.twig" %}

{% block title %}Titel {% if title.id %}bearbeiten{% else %}erstellen{% endif %} - Notenverzeichniseditor{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/notedirectoryeditor.css") }}"/>
{% endblock %}

{% block content %}
    <h1 class="page-header">
        Notenverzeichniseditor<br/>
        <span class="small">Titel {% if title.id %}bearbeiten{% else %}erstellen{% endif %}</span>
    </h1>

    <form action="{{ path }}" method="post">
        <div class="form-group">
            <label for="title-editor-title">Titel</label>
            <input type="text" class="form-control" id="title-editor-title" name="title" value="{{ title.title }}" autofocus/>
        </div>

        <div class="form-group">
            <label for="title-editor-composer">Komponist</label>
            <input type="text" class="form-control" id="title-editor-composer" name="composer" value="{{ title.composer }}"/>
        </div>

        <div class="form-group">
            <label for="title-editor-arranger">Bearbeiter</label>
            <input type="text" class="form-control" id="title-editor-arranger" name="arranger" value="{{ title.arranger }}"/>
        </div>

        <div class="form-group">
            <label for="title-editor-publisher">Verleger</label>
            <input type="text" class="form-control" id="title-editor-publisher" name="publisher" value="{{ title.publisher }}"/>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Speichern</button>
            <a href="internal/notedirectory/editor/titles" class="btn btn-secondary"><i class="fas fa-times"></i> Abbrechen</a>
        </div>
    </form>
{% endblock %}