{% extends "base/internal-public-switch.twig" %}

{% block title %}
    {% if album.name %}
        {{ album.title }} -
    {% endif %}
    Fotogalerie
    {{ parent() }}
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ picturesBaseUrl }}">Fotogalerie</a></li>
            <li class="breadcrumb-item"><a href="{{ picturesBaseUrl }}/{{ year }}">{{ year }}</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </nav>

    {% if album.name %}
        <h1 class="page-header"> Fotogalerie </h1>

        <h3>
            {{ album.title }}
            <span class="text-muted float-md-right">{{ album.date.humanReadableDate }}</span>
        </h3>

        {% if album.text %}
            <div class="well">{{ album.formatText|raw }}</div>
        {% endif %}

        <div class="row gallery-source">
            {% for picture in album.pictures %}
                <div class="col-sm-6 col-md-4 mt-3">
                    <a href="pictures/{{ loop.parent.album.year }}/{{ loop.parent.album.name }}/{{ picture.hash }}_large.jpg" class="thumbnail" title="{{ picture.title }}">
                        <div class="card">
                            <img class="card-img-top" src="pictures/{{ loop.parent.album.year }}/{{ loop.parent.album.name }}/{{ picture.hash }}_small.jpg" loading="lazy"/>
                            {% if picture.title %}
                                <div class="card-body">
                                    {{ picture.title }}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Keine Bilder verf&uuml;gbar!</div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="page-header">Fotogalerie</h1>

        <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Album nicht gefunden!</div>
    {% endif %}
{% endblock %}