{% if protocols.count %}
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="hidden-print"></th>
					<th>Datum</th>
					<th>Titel</th>
					<th>Gruppen</th>
				</tr>
			</thead>
			<tbody>
				{% for protocol in protocols %}
					<tr data-id="{{ protocol.id }}">
						<td class="hidden-print"><a href="intern/protocols/{{ protocol.id }}/{{ protocol.upload.filename }}" class="btn btn-success btn-xs"><i class="fa fa-download"></i> Herunterladen</a></td>
						<td>{{ protocol.date.humanReadableDate }}</td>
						<td>{{ protocol.title }}</td>
						<td>{{ protocols.groups }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
	<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> Keine Protokolle verf&uuml;gbar.</div>
{% endif %}