{% extends "base/internal-public-switch.twig" %}

{% block title %}
    {% if user.id %}
        Benutzer bearbeiten
    {% else %}
        Neuer Benutzer
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("node_modules/jstree-bootstrap-theme/dist/themes/proton/style.min.css") }}"/>

    <link rel="stylesheet" href="{{ asset("css/usermanagement.css") }}"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset("node_modules/jstree-bootstrap-theme/dist/jstree.min.js") }}"></script>

    <script src="{{ asset("js/permissions.js") }}"></script>
    <script src="{{ asset("js/usermanagement.js") }}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">
        {% if user.id %}
            Benutzer bearbeiten
        {% else %}
            Neuer Benutzer
        {% endif %}
    </h1>

    {% if showDuplicateUsernameError %}
        <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Der Benutzername wird bereits verwendet!</div>
    {% endif %}

    {% if user.id == currentUser.id %}
        <div class="alert alert-warning">
            <div class="media">
                <div class="media-left media-middle"><i class="fas fa-exclamation-triangle fa-2x"></i></div>
                <div class="media-body">
                    <h4 class="media-heading">Du bearbeitest aktuell deinen Benutzer.</h4>
                    &Auml;nderungen k&ouml;nnen dazu f&uuml;hren, dass du dich nicht mehr anmelden kannst oder du keine Administrationsrechte mehr hast!
                </div>
            </div>
        </div>
    {% endif %}

    <form id="usermanagement-edit-form" method="post">
        {% if user.id %}
            <input type="hidden" name="id" value="{{ user.id }}"/>
        {% endif %}

        <input type="hidden" id="usermanagement-edit-permission-groups" name="permissionGroups" value="{{ user.permissionGroupIds|join(',') }}"/>

        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#usermanagement-edit-tab-general" data-toggle="tab">Allgemein</a></li>
                <li class="nav-item"><a class="nav-link" href="#usermanagement-edit-tab-permissiongroups" data-toggle="tab">Bereichtigungsgruppen</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="usermanagement-edit-tab-general">
                    <div class="form-group">
                        <label for="usermanagement-edit-username">Benutzername</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="usermanagement-edit-username" name="username" value="{{ user.username }}"/>
                            <div class="input-group-append">
                                <button id="usermanagement-edit-username-from-name" class="btn btn-secondary" type="button" data-toggle="tooltip" title="Von Vorname und Nachname &uuml;bernehmen"><i class="fas fa-reply"></i></button>
                            </div>
                        </div>

                        <span class="form-text"></span>
                    </div>

                    <div class="form-group">
                        <label for="usermanagement-edit-firstname">Vorname</label>
                        <input type="text" class="form-control" id="usermanagement-edit-firstname" name="firstName" value="{{ user.firstName }}"/>
                    </div>

                    <div class="form-group">
                        <label for="usermanagement-edit-lastname">Nachname</label>
                        <input type="text" class="form-control" id="usermanagement-edit-lastname" name="lastName" value="{{ user.lastName }}"/>
                    </div>

                    <div class="form-group">
                        <label for="usermanagement-edit-birthdate">Geburtsdatum</label>
                        <input type="date" class="form-control" id="usermanagement-edit-birthdate" name="birthDate" value="{{ user.birthDate.format("Y-m-d") }}"/>
                    </div>

                    <div class="form-group">
                        <label for="usermanagement-edit-email">Email-Adresse</label>
                        <input type="email" class="form-control" id="usermanagement-edit-email" name="email" value="{{ user.email }}"/>
                    </div>

                    <div class="form-group">
                        <strong>Optionen</strong>

                        <div class="form-check">
                            <label>
                                <input type="checkbox" name="enabled" value="1" {% if user.enabled %}checked{% endif %} {% if user.id == currentUser.id %}disabled{% endif %}/>
                                Aktiviert
                            </label>
                        </div>

                        <div class="form-check">
                            <label>
                                <input type="checkbox" id="usermanagement-edit-send-credentials" name="sendCredentials" value="1"/>
                                Zugangsdaten versenden
                            </label>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="usermanagement-edit-tab-permissiongroups"></div>
            </div>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Speichern</button>
            <a href="internal/admin/usermanagement" class="btn btn-secondary">Abbrechen</a>
        </div>
    </form>

    <div class="modal fade" id="usermanagement-send-credentials-modal" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Zugangsdaten versenden</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Beim Speichern werden dem Benutzer neue Zugangsdaten zugesendet.<br/>
                    Die aktuellen Zugangsdaten sind anschlie&szlig;end nicht mehr g&uuml;ltig.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}