{% extends "base/internal-public-switch.twig" %}

{% block title %}Jugendausbildungsgruppen{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Jugendausbildungsgruppen</h1>

    <small class="text-muted">Stand: {{ date }}</small><br/>

    <div class="row mt-3">
        {% for column in columns %}
            <div class="col-md-6">
                <h2 class="mb-3">{{ column.title }}</h2>

                {% for type in column.types %}
                    {% if type.name %}
                        <h3>{{ type.name }}</h3>
                    {% endif %}

                    <dl class="dl-horizontal">
                        {% for group in type.groups %}
                            <dt>{{ group.trainer }}</dt>
                            <dd>
                                {% for student in group.students %}
                                    <div>{{ student }}</div>
                                {% endfor %}
                            </dd>
                        {% endfor %}
                    </dl>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}