{% extends "base/internal-public-switch.twig" %}

{% block title %}Kontakt{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Kontakt</h1>

    {% for contact in json %}
        <address{% if contact.class %} class="{{ contact.class }}"{% endif %}>
            <strong>{{ contact.name }}</strong>

            {% if contact.text %}
                <br/>
                <span class="pre">{{ contact.text }}</span>
            {% endif %}

            {% if contact.mailbox %}
                <br/>
                <a class="contact-mail" data-mailbox="{{ contact.mailbox }}"></a>
            {% endif %}
        </address>
    {% endfor %}
{% endblock %}
