{% extends "base/internal-public-switch.twig" %}

{% block title %}{{ title }}{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">{{ title|raw }}</h1>

    <div class="gallery-source">
        {% for group in groups if group.users.enabledUsers.count %}
            <h2 class="mt-3">{{ group.title }}</h2>
            <div class="row">
                {% for user in group.users.enabledUsers.sortByLastNameAndFirstName %}
                    <div class="col-6 col-sm-4 col-lg-3 mt-3">
                        <a href="users/{{ user.id }}/profile-picture.jpg?hash={{ user.profilePictureHash }}" class="thumbnail groupmembers-img" title="{{ user.firstName }} {{ user.lastName }}">
                            <div class="card">
                                <img class="card-img-top" src="users/{{ user.id }}/profile-picture.jpg?hash={{ user.profilePictureHash }}"/>
                                <div class="card-body">
                                    <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}