{% extends "base/internal-public-switch.twig" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/messages.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/internal-home.js"></script>
    <script src="js/messages.js"></script>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <h3 class="page-header">
            Hallo {{ currentUser.firstName }},<br/>
            <span class="lead">willkommen im Internen Bereich</span>
        </h3>
    </div>

    <div class="mb-4">
        <h3>N&auml;chste Termine</h3>

        {% if nextDates %}
            <ul>
                {% for date in nextDates %}
                    <li>{{ date.title }} <span class="badge badge-primary home-next-date" data-date="{{ date.startDate.format("Y-m-d H:i:s") }}"></span></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>In den n&auml;chsten 4 Wochen stehen keine Termine an.</p>
        {% endif %}

        <p>Klicke <a href="internal/dates">hier</a> um alle Termine zu sehen.</p>
    </div>

    <div class="mb-4">
        <h3>N&auml;chste Geburtstage</h3>

        {% if nextBirthdays %}
            <ul>
                {% for user in nextBirthdays %}
                    <li>{{ user.firstName }} {{ user.lastName }} <span class="badge badge-primary home-next-date" data-date="{{ user.nextBirthday.format("Y-m-d") }}"></span></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>In den n&auml;chsten 4 Wochen stehen keine Geburtstage an.</p>
        {% endif %}

        <p>Klicke <a href="internal/members/birthdays">hier</a> um alle Geburtstage zu sehen.</p>
    </div>

    <div class="mb-4">
        <h3>Letzte Nachricht</h3>

        {% include("messages/list.twig") %}
    </div>

    {% if albums.count %}
        <div class="mb-4">
            <h3>Neueste Bilder</h3>

            {% include("pictures/albums-list.twig") %}

            <p class="text-muted">Klicke <a href="{{ picturesBaseUrl }}">hier</a> um weitere Alben zu sehen.</p>
        </div>
    {% endif %}

    {% if videos.count %}
        <div class="mb-4">
            <h3>Neueste Videos</h3>

            {% include("videos/list.twig") %}

            <p class="text-muted">Klicke <a href="internal/videos">hier</a> um weitere Videos zu sehen.</p>
        </div>
    {% endif %}
{% endblock %}