{% extends "base/internal-public-switch.twig" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/messages.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/internal-home.js"></script>
    <script src="js/messages.js"></script>
{% endblock %}

{% block content %}
    <h3 class="page-header">
        Hallo {{ currentUser.firstName }},<br/>
        <span class="lead">willkommen im Internen Bereich</span>
    </h3>

    <h3>N&auml;chste Geburtstage</h3>

    {% if nextBirthdays %}
        <ul>
            {% for user in nextBirthdays %}
                <li>{{ user.firstName }} {{ user.lastName }} <span class="label label-primary home-next-birthday" data-date="{{ user.nextBirthday.format("Y-m-d") }}"></span></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Keine Geburtstage in den n&auml;chsten 4 Wochen.</p>
    {% endif %}

    <p>Klicke <a href="internal/members/birthdays">hier</a> um alle Geburtstage zu sehen.</p>

    <h3>Letzte Nachricht</h3>

    {% include("messages/list.twig") %}

    {% if albums.count %}
        <h3>Neueste Bilder</h3>

        {% include("pictures/albums-list.twig") %}

        <p class="text-muted">Klicke <a href="{{ picturesBaseUrl }}">hier</a> um weitere Alben zu sehen.</p>
    {% endif %}
{% endblock %}