{% extends "base/internal-public-switch.twig" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/messages.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/messages.js"></script>
{% endblock %}

{% block content %}
    <h3 class="page-header">
        Hallo {{ currentUser.firstName }},<br/>
        <span class="lead">willkommen im Internen Bereich</span>
    </h3>

    <h3>Letzte Nachricht</h3>

    {% include("messages/list.twig") %}

    {% if albums.count %}
        <h3 class="page-header">Neueste Bilder</h3>

        {% include("pictures/albums-list.twig") %}

        <p class="text-muted">Klicke <a href="{{ picturesBaseUrl }}">hier</a> um weitere Alben zu sehen.</p>
    {% endif %}
{% endblock %}