{% extends "base/internal-public-switch.twig" %}

{% block title %}Fotogalerie{{ parent() }}{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="active">Fotogalerie</li>
    </ol>

    <h1 class="page-header">Fotogalerie</h1>

    {% if years.count %}
        <div class="row">
            {% for year in years %}
                <div class="col-sm-6 col-md-4">
                    <a href="{{ loop.parent.picturesBaseUrl }}/{{ year.year }}" class="thumbnail">
                        <img src="pictures/{{ year.year }}/{{ year.coverAlbum.name }}/{{ year.coverAlbum.cover.hash }}_small.jpg"/>
                        <div class="caption">
                            <h3>{{ year.year }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Keine Alben verf&uuml;gbar!</div>
    {% endif %}
{% endblock %}