{% extends "base/internal-public-switch.twig" %}

{% block title %}Fotogalerie{{ parent() }}{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Fotogalerie</li>
        </ol>
    </nav>

    <h1 class="page-header">Fotogalerie</h1>

    {% if years.count %}
        <div class="row">
            {% for year in years %}
                <div class="col-sm-6 col-md-4 mt-3">
                    <a href="{{ loop.parent.picturesBaseUrl }}/{{ year.year }}" class="thumbnail">
                        <div class="card">
                            <img class="card-img-top" src="pictures/{{ year.year }}/{{ year.coverAlbum.name }}/{{ year.coverAlbum.cover.hash }}_small.jpg" loading="lazy"/>
                            <div class="card-body">
                                <h5 class="card-title">{{ year.year }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Keine Alben verf&uuml;gbar!</div>
    {% endif %}
{% endblock %}