{% extends "base/intern-public-switch.twig" %}

{% block title %}Termine{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/dates.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/date-editor.js"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Termine</h1>

    {% if saved %}
        <div class="alert alert-success"><i class="fa fa-check"></i> Die &Auml;nderungen wurden erfolgreich gespeichert.</div>
    {% endif %}

    <div class="btn-toolbar hidden-print">
        {% if allowEdit %}
            <div class="btn-group">
                <a href="intern/dates/create" class="btn btn-default"><i class="fa fa-plus"></i> Neuer Termin</a>
            </div>
        {% endif %}

        <div class="btn-group">
            {% for group in groups %}
                {% if group.active %}
                    <a href="{{ group.url }}" class="btn btn-default active">{{ group.title|raw }}</a>
                {% else %}
                    <a href="{{ group.url }}" class="btn btn-default">{{ group.title|raw }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if dates.count %}
        {% include("dates/list.twig") %}
    {% else %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Keine Termine verf&uuml;gbar!</div>
    {% endif %}

    <p class="text-muted hidden-print">
        Diese Termine können im iCalendar-Format abgerufen werden, um sie in einer Kalenderanwendung wie z.B. Outlook oder einer Kalender-App auf dem Smartphone anzuzeigen.<br/>
        F&uuml;ge hierzu folgenden Link in der Kalenderanwendung ein: <a href="intern/dates.ics" id="ical-url"></a>
    </p>

    <script type="text/javascript">
        var element = $("#ical-url");
        element.text(element[0].href);
    </script>
{% endblock %}