{% extends "base/internal-public-switch.twig" %}

{% block title %}Termine{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/dates.css") }}"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset("js/date-editor.js") }}"></script>
    <script src="{{ asset("js/dates.js") }}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Termine</h1>

    {% if saved %}
        <div class="alert alert-success"><i class="fas fa-check"></i> Die &Auml;nderungen wurden erfolgreich gespeichert.</div>
    {% endif %}

    <div class="mb-3 d-print-none">
        {% if allowEdit %}
            <div class="btn-group mr-3">
                <a href="internal/dates/create" class="btn btn-success"><i class="fas fa-plus"></i> Neuer Termin</a>
            </div>
        {% endif %}

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-flip="false">Jahre <span class="caret"></span></button>

            <div class="dropdown-menu">
                {% for year in years %}
                    <a class="dropdown-item {% if year == activeYear %}active{% endif %}" href="internal/dates/{{ year }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>

        {% if groups %}
            <div class="btn-group">
                <form class="form-inline" id="dates-groups-form">
                    <input type="hidden" name="groups" id="dates-groups-field"/>

                    <div class="input-group">
                        <select id="dates-groups-select" class="selectpicker show-tick" data-actions-box="true" multiple>
                            {% for name,group in groups %}
                                <option value="{{ name }}" {% if group.active %}selected{% endif %}>{{ group.title|raw }}</option>
                            {% endfor %}

                            <option data-divider="true"></option>

                            <option value="public" {% if includePublic %}selected{% endif %}>&Ouml;ffentlich</option>
                        </select>

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>

    {% if dates.count %}
        {% include("dates/list.twig") %}
    {% else %}
        <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Keine Termine verf&uuml;gbar!</div>
    {% endif %}

    <p class="text-muted d-print-none">
        Diese Termine können im iCalendar-Format abgerufen werden, um sie in einer Kalenderanwendung wie z.B. Outlook oder einer Kalender-App auf dem Smartphone anzuzeigen.<br/>
        F&uuml;ge hierzu folgenden Link in der Kalenderanwendung ein: <a href="internal/dates/{{ currentUser.datesToken }}.ics" id="ical-url"></a> <a href="internal/dates/generate-token" title="Neu generieren"><i class="fas fa-sync"></i></a>
    </p>

    <script type="text/javascript">
        var element = $("#ical-url");
        element.text(element[0].href);
    </script>
{% endblock %}