{% extends "base/base.twig" %}

{% block title %} - Interner Bereich{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="node_modules/blueimp-file-upload/css/jquery.fileupload.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap-select/dist/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="js/jcrop/css/jquery.Jcrop.min.css"/>

    <link rel="stylesheet" href="css/main-internal.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="node_modules/jquery-ui/ui/widget.js"></script>
    <script src="node_modules/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="node_modules/bootstrap-select/dist/js/i18n/defaults-de_DE.min.js"></script>
    <script src="js/jcrop/js/jquery.Jcrop.min.js"></script>
    <script src="node_modules/jquery-qrcode/jquery.qrcode.min.js"></script>
    <script src="node_modules/mustache/mustache.min.js"></script>

    <script src="js/internal.js"></script>
{% endblock %}

{% block header %}
    {% if currentUser %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="internal">Interner Bereich</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Mitglieder <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="internal/members/addresslist">Adressenliste</a>
                                <a class="dropdown-item" href="internal/members/birthdays">Geburtstage</a>
                            </div>
                        </li>
                        {% if currentUser.hasPermission("forms.*") %}
                            <li class="nav-item"><a class="nav-link" href="internal/forms">Formulare</a></li>
                        {% endif %}
                        {% if currentUser.hasPermission("notedirectory.*") %}
                            <li class="nav-item"><a class="nav-link" href="internal/notedirectory">Notenverzeichnis</a></li>
                        {% endif %}
                        {% if currentUser.hasPermission("protocols.*") %}
                            <li class="nav-item"><a class="nav-link" href="internal/protocols">Protokolle</a></li>
                        {% endif %}
                        {% if currentUser.hasPermission("roomoccupancyplan.*") %}
                            <li class="nav-item"><a class="nav-link" href="internal/roomoccupancyplan">Proberaumbelegung</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="internal/dates">Termine</a></li>
                        <li class="nav-item"><a class="nav-link" href="internal/pictures">Fotogalerie</a></li>
                        {% if currentUser.hasPermission("admin") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Admin <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="internal/admin/usermanagement">Benutzerverwaltung</a>
                                    <a class="dropdown-item" href="internal/admin/newseditor">Aktuell</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="internal/admin/visits">Besucherstatistik</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="navbar-profile">
                                <img src="users/{{ currentUser.id }}/profile-picture.jpg?hash={{ currentUser.profilePictureHash }}"/>
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">Angemeldet als <strong>{{ currentUser.firstName }} {{ currentUser.lastName }}</strong></div>

                                <a class="dropdown-item" href="internal/members/{{ currentUser.username }}"><i class="fa fa-user"></i> Dein Profil</a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="internal/messages/sent"><i class="fa fa-send"></i> Gesendete Nachrichten</a>
                                <a class="dropdown-item" href="internal/messages/received"><i class="fa fa-inbox"></i> Empfangene Nachrichten</a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="internal/settings"><i class="fa fa-cogs"></i> Einstellungen</a>
                                <a class="dropdown-item" href="internal/logout"><i class="fa fa-sign-out"></i> Abmelden</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer" class="py-3 hidden-print">
        <div class="container">
            <p>&copy; {{ currentYear }} Musikverein "Orgelfels" Reichental e.V.</p>
            <ul class="list-inline">
                <li><a href="">Zur&uuml;ck zur Startseite</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}