{% extends "base/base.twig" %}

{% macro navbar_link(url, title) %}
    {% set class = "nav-item" %}

    {% if isActivePage(url) %}
        {% set class = class ~ " active" %}
    {% endif %}

    <li class="{{ class }}"><a class="nav-link" href="{{ url }}">{{ title|raw }}</a></li>
{% endmacro %}

{% macro profile_dropdown_links(url, icon_class, title) %}
    <a class="dropdown-item" href="{{ url }}"><i class="{{ icon_class }}"></i> {{ title|raw }}</a>
{% endmacro %}

{% import _self as this %}

{% block title %} - Interner Bereich{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("node_modules/blueimp-file-upload/css/jquery.fileupload.css") }}"/>
    <link rel="stylesheet" href="{{ asset("node_modules/bootstrap-select/dist/css/bootstrap-select.min.css") }}"/>

    <link rel="stylesheet" href="{{ asset("css/main-internal.css") }}"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset("node_modules/jquery-ui/ui/widget.js") }}"></script>
    <script src="{{ asset("node_modules/blueimp-file-upload/js/jquery.fileupload.js") }}"></script>
    <script src="{{ asset("node_modules/bootstrap-select/dist/js/bootstrap-select.min.js") }}"></script>
    <script src="{{ asset("node_modules/bootstrap-select/dist/js/i18n/defaults-de_DE.min.js") }}"></script>
    <script src="{{ asset("node_modules/mustache/mustache.min.js") }}"></script>

    <script src="{{ asset("js/internal.js") }}"></script>
{% endblock %}

{% block body %}
    {% if currentUser %}
        <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="internal">Interner Bereich</a>

                <ul class="navbar-nav flex-row ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2" data-toggle="dropdown" role="button" id="navbar-profile">
                            <img src="users/{{ currentUser.id }}/profile-picture.jpg?hash={{ currentUser.profilePictureHash }}"/>
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header">Angemeldet als <strong>{{ currentUser.firstName }} {{ currentUser.lastName }}</strong></div>

                            {{ this.profile_dropdown_links("internal/members/" ~ currentUser.username, "fas fa-user", "Dein Profil") }}

                            <div class="dropdown-divider"></div>

                            {{ this.profile_dropdown_links("internal/messages/sent", "fas fa-paper-plane", "Gesendete Nachrichten") }}
                            {{ this.profile_dropdown_links("internal/messages/received", "fas fa-inbox", "Empfangene Nachrichten") }}

                            <div class="dropdown-divider"></div>

                            {{ this.profile_dropdown_links("internal/settings", "fas fa-cogs", "Einstellungen") }}

                            {% if hasOriginUser %}
                                {{ this.profile_dropdown_links("internal/switch-user", "fas fa-sign-out-alt", "Benutzer wechseln") }}
                            {% endif %}

                            {{ this.profile_dropdown_links("internal/logout", "fas fa-sign-out-alt", "Abmelden") }}
                        </div>
                    </li>

                    <li class="nav-item">
                        <button class="navbar-toggler p-2" type="button" data-toggle="collapse" data-target="#navbar-links" id="navbar-links-toggler">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 bg-light d-print-none" id="navbar-sidebar">
                <nav class="collapse" id="navbar-links">
                    <ul class="nav flex-column">
                        {{ this.navbar_link("internal/members/addresslist", "Adressenliste") }}
                        {% if currentUser.hasPermission("newsEditor") %}
                            {{ this.navbar_link("internal/newseditor", "Aktuell intern") }}
                        {% endif %}
                        {% if currentUser.hasPermission("forms.*") %}
                            {{ this.navbar_link("internal/forms", "Formulare") }}
                        {% endif %}
                        {{ this.navbar_link("internal/pictures", "Fotogalerie") }}
                        {{ this.navbar_link("internal/members/birthdays", "Geburtstage") }}
                        {{ this.navbar_link("internal/traininggroups", "Jugendausbildungsgruppen") }}
                        {{ this.navbar_link("internal/musicians", "Musiker") }}
                        {% if currentUser.hasPermission("notedirectory.*") %}
                            {{ this.navbar_link("internal/notedirectory", "Notenverzeichnis") }}
                        {% endif %}
                        {% if currentUser.hasPermission("protocols.*") %}
                            {{ this.navbar_link("internal/protocols", "Protokolle") }}
                        {% endif %}
                        {{ this.navbar_link("internal/dates", "Termine") }}
                        {{ this.navbar_link("internal/videos", "Videos") }}
                        {% if currentUser.hasPermission("admin.*") %}
                            <li class="nav-item">
                                <span class="nav-link">Admin</span>
                                <ul class="nav flex-column nav-submenu">
                                    {% if currentUser.hasPermission("admin.userManagement") %}
                                        {{ this.navbar_link("internal/admin/usermanagement", "Benutzerverwaltung") }}
                                    {% endif %}
                                    {% if currentUser.hasPermission("admin.newsEditor") %}
                                        {{ this.navbar_link("internal/admin/newseditor", "Aktuell") }}
                                    {% endif %}
                                    {% if currentUser.hasPermission("admin.visits") %}
                                        {{ this.navbar_link("internal/admin/visits", "Besucherstatistik") }}
                                    {% endif %}
                                    {% if currentUser.hasPermission("messages.all") %}
                                        {{ this.navbar_link("internal/messages/all", "Alle Nachrichten") }}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {{ this.navbar_link("", "Zur&uuml;ck zur Startseite") }}
                    </ul>
                </nav>
            </div>

            <main class="col-12 col-md-9 col-lg-10 py-lg-3 px-lg-5 col-pr-12">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
