{% extends "base/base.twig" %}

{% block title %} - Interner Bereich{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="node_modules/blueimp-file-upload/css/jquery.fileupload.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap-select/dist/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="js/jcrop/css/jquery.Jcrop.min.css"/>

    <link rel="stylesheet" href="css/main-internal.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="node_modules/jquery-ui/ui/widget.js"></script>
    <script src="node_modules/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="node_modules/bootstrap-select/dist/js/i18n/defaults-de_DE.min.js"></script>
    <script src="js/jcrop/js/jquery.Jcrop.min.js"></script>
    <script src="node_modules/jquery-qrcode/jquery.qrcode.min.js"></script>
    <script src="node_modules/mustache/mustache.min.js"></script>

    <script src="js/internal.js"></script>
{% endblock %}

{% block header %}
    {% if currentUser %}
        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="internal">Interner Bereich</a>

                <ul class="navbar-nav flex-row ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2" data-toggle="dropdown" role="button" id="navbar-profile">
                            <img src="users/{{ currentUser.id }}/profile-picture.jpg?hash={{ currentUser.profilePictureHash }}"/>
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header">Angemeldet als <strong>{{ currentUser.firstName }} {{ currentUser.lastName }}</strong></div>

                            <a class="dropdown-item" href="internal/members/{{ currentUser.username }}"><i class="fa fa-user"></i> Dein Profil</a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="internal/messages/sent"><i class="fa fa-send"></i> Gesendete Nachrichten</a>
                            <a class="dropdown-item" href="internal/messages/received"><i class="fa fa-inbox"></i> Empfangene Nachrichten</a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="internal/settings"><i class="fa fa-cogs"></i> Einstellungen</a>
                            <a class="dropdown-item" href="internal/logout"><i class="fa fa-sign-out"></i> Abmelden</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <button class="navbar-toggler p-2" type="button" data-toggle="collapse" data-target="#navbar-links" id="navbar-links-toggler">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 col-xl-2 bg-light">
                <nav class="collapse navbar-links" id="navbar-links">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <span class="nav-link">Mitglieder</span>
                            <ul class="nav flex-column nav-submenu">
                                <li class="nav-item"><a class="nav-link" href="internal/members/addresslist">Adressenliste</a></li>
                                <li class="nav-item"><a class="nav-link" href="internal/members/birthdays">Geburtstage</a></li>
                            </ul>
                        </li>
                        {% if currentUser.hasPermission("forms.*") %}
                            <li class="nav-item"><a class="nav-link" href="internal/forms">Formulare</a></li>
                        {% endif %}
                        {% if currentUser.hasPermission("notedirectory.*") %}
                            <li class="nav-item"><a class="nav-link" href="internal/notedirectory">Notenverzeichnis</a></li>
                        {% endif %}
                        {% if currentUser.hasPermission("protocols.*") %}
                            <li class="nav-item"><a class="nav-link" href="internal/protocols">Protokolle</a></li>
                        {% endif %}
                        {% if currentUser.hasPermission("roomoccupancyplan.*") %}
                            <li class="nav-item"><a class="nav-link" href="internal/roomoccupancyplan">Proberaumbelegung</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="internal/dates">Termine</a></li>
                        <li class="nav-item"><a class="nav-link" href="internal/pictures">Fotogalerie</a></li>
                        <li class="nav-item"><a class="nav-link" href="internal/videos">Videos</a></li>
                        {% if currentUser.hasPermission("admin") %}
                            <li class="nav-item">
                                <span class="nav-link">Admin</span>
                                <ul class="nav flex-column nav-submenu">
                                    <li class="nav-item"><a class="nav-link" href="internal/admin/usermanagement">Benutzerverwaltung</a></li>
                                    <li class="nav-item"><a class="nav-link" href="internal/admin/newseditor">Aktuell</a></li>

                                    <li class="nav-item"><a class="nav-link"  href="internal/admin/visits">Besucherstatistik</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <main class="col-12 col-lg-9 col-xl-8 py-lg-3 pl-lg-5">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer" class="py-3 hidden-print">
        <div class="container">
            <p>&copy; {{ currentYear }} Musikverein "Orgelfels" Reichental e.V.</p>
            <ul class="list-inline">
                <li><a href="">Zur&uuml;ck zur Startseite</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}