{% extends "base/internal-public-switch.twig" %}

{% block title %}{{ user.firstName }} {{ user.lastName }}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/members.css"/>
    <link rel="stylesheet" href="css/messages.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/members.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div id="members-details-user" class="gallery-source" data-id="{{ user.id }}">
                <a href="users/{{ user.id }}/profile-picture.jpg?hash={{ user.profilePictureHash }}">
                    <img src="users/{{ user.id }}/profile-picture.jpg?hash={{ user.profilePictureHash }}" class="img-rounded" width="200"/>
                </a>
                <h3><span id="members-details-firstname">{{ user.firstName }}</span> <span id="members-details-lastname">{{ user.lastName }}</span></h3>

                <table class="table table-striped">
                    <tbody>
                        {% if user.email %}
                            <tr>
                                <td>Email-Adresse</td>
                                <td><i class="fa fa-envelope"></i> <a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            </tr>
                        {% endif %}
                        {% for contact in user.contacts %}
                            <tr>
                                <td>{{ contact.title }}</td>
                                <td><i class="fa fa-phone"></i> {{ contact.value }}</td>
                            </tr>
                        {% endfor %}
                        {% if user.birthDate %}
                            <tr>
                                <td>Geburtsdatum</td>
                                <td><i class="fa fa-calendar"></i> {{ user.birthDate.humanReadableDate }} ({{ user.birthDate.yearsTillNow }})</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                <button type="button" class="btn btn-sm btn-success" id="members-details-send-message-button"><i class="fa fa-send"></i> Nachricht senden</button>
            </div>
        </div>

        <div class="col-md-8" id="members-details-messages">
            <h3 class="page-header">Nachrichten von {{ user.firstName }}</h3>

            <p class="text-muted"><strong>Hinweis:</strong> Du siehst nur deine bzw. an dich gesendete Nachrichten.</p>

            {% include("messages/list.twig") %}
        </div>
    </div>

    {% include("messages/send-modal.twig") %}
{% endblock %}