{% extends "base/internal-public-switch.twig" %}

{% block title %}{{ user.firstName }} {{ user.lastName }}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/members.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/messages.css") }}"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset("js/members.js") }}"></script>
    <script src="{{ asset("js/messages.js") }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-4">
            <div id="members-details-user" class="gallery-source" data-id="{{ user.id }}">
                <a href="{{ user.profilePictureUrl }}">
                    <img src="{{ user.profilePictureUrl }}" class="img-rounded" id="members-details-picture" loading="lazy"/>
                </a>
                <h3 class="mt-3 mb-3"><span id="members-details-firstname">{{ user.firstName }}</span> <span id="members-details-lastname">{{ user.lastName }}</span></h3>

                <table class="table table-striped">
                    <tbody>
                        {% if user.email %}
                            <tr>
                                <td>Email-Adresse</td>
                                <td><i class="fas fa-envelope"></i> <a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            </tr>
                        {% endif %}
                        {% for contact in user.contacts %}
                            <tr>
                                <td>{{ contact.title|raw }}</td>
                                <td><i class="fas fa-phone"></i> {{ contact.value }}</td>
                            </tr>
                        {% endfor %}
                        {% if user.birthDate %}
                            <tr>
                                <td>Geburtsdatum</td>
                                <td><i class="fas fa-calendar-alt"></i> {{ user.birthDate.humanReadableDate }} ({{ user.birthDate.yearsTillNow }})</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                {% if user.id != currentUser.id %}
                    <button type="button" class="btn btn-sm btn-success" id="members-details-send-message-button"><i class="fas fa-paper-plane"></i> Nachricht senden</button>
                {% endif %}
            </div>
        </div>

        <div class="col-xl-8" id="members-details-messages">
            <h3 class="page-header">Nachrichten von {{ user.firstName }}</h3>

            <p class="text-muted"><strong>Hinweis:</strong> Du siehst Nachrichten welche du an {{ user.firstName }} gesendet bzw. von {{ user.firstName }} erhalten hast.</p>

            {% include("messages/list.twig") %}
        </div>
    </div>

    {% include("messages/send-modal.twig") %}
{% endblock %}